/*Body*/
body {
    font-family: "rooney-sans",
        Avenir-Book,
        Calibri,
        sans-serif;
    color: #424242;
    line-height: 1.4;
}


/*Class*/

.box {
    height: 600px;
    width: 600px;
    padding: 50px;
    margin: auto;
    position: relative;
}

/* Speech Bubble */
.speech {
    border-radius: 5px;
    margin-left: 28px;
    background: #2F4F4F;
    width: 530px;
    height: 30px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2F4F4F;
    border-bottom: 10px solid transparent;
    right: 20%;
    bottom: -20px;
}

/*End of speech bubble */



/*Progress Bar*/
.container1 {
    width: 94%;
    margin-top: 15px;
    margin-left: 30px;
    border: solid 3px;
    border-color: #eaeaea;
}

.skills {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 65%;
    background-color: #EF5F3C;
}
 /* End of progress bar */


 /* Container 2 */
 .container2 {
     border: 2px solid #eaeaea;
     margin-left: 30px;
     margin-top: 0px;
     text-align: center;
     font-size: 2em;
     position: relative;
     font-weight: 450;
 }
/* End of container 2 */


/* Days left */
.days {
    color: #777;
    margin-top: 25px;
    margin-right: 8px;
    display: inline-block;
    text-align: left;
}

.left {
    color: orange;
}
/* End of days left */


/* Donors */
.donors {
    text-align: left;
    margin-left: 48px;
    color: #777;
}
/* End of donors */


/* Donation input */

.currency {
    position: absolute;
    margin-left: 10px;
    margin-top: 27px;
    color: #777;
}

.input {
    margin-right: 35px;
    border-radius: 4px;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    padding-left: 40px;
    width: 150px;
    border: solid #eaeaea;
    height: 50px;
}
/* End of donation input */


/* Give Now */
.button3 {
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    padding: 20px;
    width: 213px;
    border: 0px solid #eaeaea;
    height: 92px;
    color: #fff;
    background-color: #1CBC2C;
}
/* End of Give Now */

/* Why give $50 */

.tooltip {
    position: relative;
    color: #1E90FF;
    margin-left: 45px;
    margin-top: 13px;
    text-align: left;
    margin-bottom: 40px;

}

.overlay {
    visibility: hidden;
    font-size: 20px;
    display: inline-block;
}

.tooltip .overlay {
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: relative;
    margin-left: 5px;
}

.tooltip:hover .overlay {
    display: inline-block;
    visibility: visible;
    font-size: 11px;
    color: yellow;
    width: 100px;
}

/* End of Why give $50 */



/* share buttons */
.button1 {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    width: 265px;
    border: solid #eaeaea;
    box-shadow: 0px 3px #eaeaea;
    color: #777;
    background-color: #fff;
}

.button2 {
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    width: 265px;
    border: solid #eaeaea;
    box-shadow: 0px 3px #eaeaea;
    color: #777;
    background-color: #fff;
}
/* End of share buttons */









